/* .nav-menu img {
  padding: 1em 1em 0 1em;
}



.nav-menu-dark .nav-menu-nav {
  color: rgba(255, 255, 255, 0.5);
}

.toggle-content {
  display: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 350ms ease-in-out;
}

.toggle-content.is-visible {
  display: block;
  height: auto;
  opacity: 1;
}

.dropdown-menu {
  background-color: #343a40;
}

.nav-menu-nav .dropdown-menu {
  position: static;
  float: none; */
/* background-color: #343a40;
  border-top: 1px solid #6c757d;
  border-bottom: 1px solid #6c757d; */
/* color: #6c757d;
}

.nav-menu-nav .dropdown-item {
  color: rgba(255, 255, 255, 0.5);
}

a.dropdown-toggle.nav-link:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
} */
.nav-menu-sidebar {
  background-color: #d4d4d4;
  border-right-color: #e1dfdd;
}
li.navbar-nav-toggle {
  padding: 0.4rem 0;
  cursor: pointer;
}
.nav-link {
  color: #333333;
}
.nav-link:hover,
li.navbar-nav-toggle:hover {
  text-decoration: none;
  background: rgb(200, 200, 200);
  color: #16181b;
}
.nav-link.active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}

span.navbar-toggler-icon {
  width: 1.1em;
}

a.nav-link {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: normal;
  padding: 0.5rem 0;
}
a.nav-link p {
  margin: 0;
  padding-left: 8px;
}
.navbar-vertical {
  width: 320px;
  height: 93vh;
  padding: 0.5rem 0.5rem;
  transition: width 0.31s;
}

.navbar-vertical .navbar-brand {
  margin-right: 0;
  padding-right: 1.5rem;
  display: block;
}

.navbar-vertical .navbar-toggler {
  border: none;
  padding: 0;
  display: inline-block;
  cursor: pointer;
}

.navbar-vertical ul.navbar-nav {
  width: 100%;
  margin-top: 1rem;
}

.navbar-vertical.show {
  width: 320px;
}

.navbar-vertical.hidden {
  width: 40px;
}

p.nav-item-p.show {
  display: block;
}
p.nav-item-p.hidden {
  display: none;
}
